@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: linear-gradient(45deg,  #FDFBEE 10%, #D98324 30%,#3d3a2d 55%);
}

header {
    display: flex;
    border-bottom: 0.5px solid black;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    box-shadow: 0px 5px 5px 0px ;
    margin-bottom: 50px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

.links {
    color: #3d3a2d;
    font-family: "Playfair Display", serif;
    cursor: pointer;
    background-color: transparent;
    transition: background-color ease 1s;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    font-weight:500; 
}

.links:hover {
    background-color: #dac074;
    color: black;
    box-shadow: 6px 5px 3px 0 #3d3a2d;
}

.site-logo {
    width: 80px;
    height: 80px;
}

.menu-button {
    display: none;
    background-color: transparent;
    border: none;
    font-size: 25px;
    position: absolute;
    right: 50px;
    top: 25px;
}

main section{
    min-height: 100vh;
    max-width: 1050px;
    margin: 0 auto;
}

.general-title h1 {
    display: flex;
    justify-content: center;
    font-family: "Playfair Display", serif;
    color: #FDFBEE;
    margin-bottom: 50px;
}

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1050px;
    margin: 0 auto;
}

.sky-photography {
    width:700px;
    height: 400px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 2px ;
    margin-bottom: 50px;
}

.introduction p {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    text-align: justify;
    margin-bottom: 50px;
}

.section-one {
    display: flex;
    min-height: 100vh;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 330px);
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background: #EFDCAB;
    border-radius: 20px;
    height: 500px;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    overflow: auto;
    scrollbar-width: none;
}

.cards h2 {
    margin-top: 30px;
    align-self: center;
}

.cards p {
    padding: 20px;
    text-align: justify;
}


@media (max-width: 700px) {
    header, ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    ul {
        align-items: center;
        margin-bottom: 25px;
    }

    .menu-button{
        display: flex;
        cursor: pointer;
    }
}

